# Environment files
.env

# Python caching
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/
ENV/

# System specific
.DS_Store
Thumbs.db

# Storage & Logs
backend/storage/
backend/download.log
*.log

# Node & Next.js folders
node_modules/
.next/
dist/
build/
out/
